<!DOCTYPE html>
<html lang="en">
<div th:replace="header"></div>
<body>
<div class="bg-dark">
    <div th:replace="menu"></div>
    <div style="max-width: 1200px; height: 100vh; margin: 0 auto; ">
        <div class="card-body d-flex justify-content-center">
            <div class="col-6 bg-dark" style="min-width: 500px">
                <form method="post" th:action="@{'/addItem'}">
                    <div class="container mb-2 d-flex justify-content-center">
                        <h3 class="card-title mb-2" style="color: white">Создать задание</h3>
                    </div>
                    <div class="container mt-3 card bg-light p-5 ">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Текс задачи" name="task_name">
                        <br>
                        <select class="form-control" name="priority">
                            <option th:each="pr:${priority}" th:text="${pr.priorityName}" th:value="${pr.id}"
                                    th:selected="${tasks!=null&&tasks.taskPriorities!=null&&tasks.taskPriorities.id==pr.id}"></option>
                        </select>
                        <br>
                        <select class="form-control" name="status">
                            <option th:each="st:${status}" th:text="${st.statusName}" th:value="${st.id}"
                                    th:selected="${tasks!=null&&tasks.taskStatuses!=null&&tasks.taskStatuses.id==st.id}"></option>
                        </select>
                        <br>
                        <select class="form-control" name="executor">
                            <option th:each="ex:${executor}" th:text="${ex.firstName+' '+ex.lastName}" th:value="${ex.id}"
                                    th:selected="${tasks!=null&&tasks.taskExecutor!=null&&tasks.taskExecutor.id==ex.id}"></option>
                        </select>
                        <br>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Описание"
                               name="task_description">
                        <br>
                        <input type="date" pattern="yyyy-MM-dd" class="form-control" name="task_deadline">
                        <br>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success mr-0">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("form").find('button').click(function (e) {-->
<!--            $("input").each(function (index, value) {-->
<!--                if (validate($(this).val())) {-->
<!--                    alert('Строка содержит запрещенные символы!');-->
<!--                    e.preventDefault();-->
<!--                }-->
<!--            });-->
<!--        })-->
<!--    });-->

<!--    function validate(search) {-->
<!--        if (search.includes(''))-->
<!--            return true;-->
<!--        else if (search.includes('ss'))-->
<!--            return true-->
<!--        return false-->

<!--    }-->
<!--</script>-->
</html>