<!DOCTYPE html>
<html lang="en">
<div class="bg-dark" th:replace="header"></div>
<body class="bg-dark">
<div class="bg-dark" th:replace="menu"></div>
<div class="d-flex flex-column justify-content-start align-content-center mt-5"
     style="max-width: 1205px; height: 100vh; margin: 0 auto; ">

    <div class="d-flex justify-content-center">
        <h3 class="card-title mb-2" style="color: white">Список пользователей</h3>
    </div>
    <table class="table table-striped bg-light mt-5 w-100" style="border-radius: 5px">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Почта</th>
            <th>Логин</th>
            <th>Блокирован</th>
            <th>Разрешен</th>
            <th>Роль</th>
            <th class="text-truncate">Пароль</th>
            <th>Редактировать</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="it:${user}">
            <td th:text="${it.id}"></td>
            <td th:text="${it.firstName}"></td>
            <td th:text="${it.lastName}"></td>
            <td th:text="${it.email}"></td>
            <td th:text="${it.username}"></td>
            <td th:text="${it.locked==true?'Да':'Нет'}"></td>
            <td th:text="${it.enabled==true?'Да':'Нет'}"></td>
            <td th:text="${it.appUserRole}"></td>
            <td class="d-inline-block text-truncate" style="max-width: 20px;" th:text="${it.password}"></td>
            <td><a th:href="@{'/editUser/'+${it.id}}" class="btn btn-info btn-sm">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{'/all-users/page/' + ${currentPage - 1}}">Previous</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:href="@{'/all-users/page/' + ${pageNumber}}">[[${pageNumber}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{'/all-users/page/' + ${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>