<!DOCTYPE html>
<html lang="en">
<div th:replace="header">
</div>
<body>
<div class="container">
    <div th:replace="menu"></div>
</div>
<form method="get" th:action="@{'/filter'}">
    <div class="container">
        <h1>Find Task</h1>
    </div>
    <div class="container">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Task name" name="task_name">
        <br>
        <select class="form-control" name="priority">
            <option th:each="pr:${priority}" th:text="${pr.priorityName}" th:value="${pr.id}"
                    th:selected="${tasks!=null&&tasks.taskPriorities!=null&&tasks.taskPriorities.id==pr.id}"></option>
        </select>
        <br>
        <select class="form-control" name="status">
            <option th:each="st:${status}" th:text="${st.statusName}" th:value="${st.id}"
                    th:selected="${tasks!=null&&tasks.taskStatuses!=null&&tasks.taskStatuses.id==st.id}"></option>
        </select>
        <br>
        <select class="form-control" name="executor">
            <option th:each="ex:${executor}" th:text="${ex.fullName}" th:value="${ex.id}"
                    th:selected="${tasks!=null&&tasks.taskExecutor!=null&&tasks.taskExecutor.id==ex.id}"></option>
        </select>
        <br>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="taskDescription"
               name="task_description">
        <br>
        <input type="date" pattern="yyyy-MM-dd" class="form-control" name="task_deadline">
        <br>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
</body>
</html>