<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="bg-dark" th:replace="header"></div>
<body class="bg-dark">
<div class="bg-dark w-100" th:replace="menu"></div>
<div class="d-flex justify-content-center" style="max-width: 100%; height: 100vh; margin: 0 auto;">
    <div style="width: 1200px; height: 100vh;">
        <form method="get" th:action="@{'/indexFilter'}">
            <br>
            <div class="container bg-dark d-flex flex-column align-content-center justify-content-center ">
                <input type="hidden" name="pageno" th:value="${currentPage}" />
                <input type="hidden" name="pageSize" th:value="${pageSize}" />
                <div class="row mt-5">
                    <div class="col-6 offset-3">
                        <input class="form-control me-2 mb-5" style="max-width: 100%" type="search"
                               placeholder="Наименование задачи" aria-label="Search"
                               name="name">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" style="color: white">Приоритет</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="priority">
                                    <option value="">Все</option>
                                    <option class="mr-2" th:each="pr : ${priority}" th:text="${pr.priorityName}"
                                            th:value="${pr.id}"
                                            th:selected="${tasks != null && tasks.taskPriorities != null && tasks.taskPriorities.id == pr.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" style="color: white">Статус</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="status">
                                    <option value="">Все</option>
                                    <option th:each="st : ${status}" th:text="${st.statusName}" th:value="${st.id}"
                                            th:selected="${tasks != null && tasks.taskStatuses != null && tasks.taskStatuses.id == st.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" style="color: white">Исполнитель</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="executor">
                                    <option value="">Все</option>
                                    <option th:each="ex : ${executor}" th:text="${ex.firstName+' '+ex.lastName}" th:value="${ex.id}"
                                            th:selected="${tasks != null && tasks.taskExecutor != null && tasks.taskExecutor.id == ex.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-success">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped bg-light mt-xl-5 w-100" style="border-radius: 7px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Дедлайн</th>
                <th>Описание</th>
                <th>Исполнитель</th>
                <th>Приоритет</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="it:${emp}">
                <td th:text="${it.id}"></td>
                <td th:text="${it.taskName}"></td>
                <td th:text="${it.taskDeadline}"></td>
                <td th:text="${it.taskDescription}"></td>
                <td th:text="${it.taskExecutor!=null?it.taskExecutor.firstName+' '+it.taskExecutor.lastName:' '}"></td>
                <td th:text="${it.taskPriorities!=null?it.taskPriorities.priorityName:' '}"></td>
                <td th:text="${it.taskStatuses!=null?it.taskStatuses.statusName:' '}"></td>
                <td><a th:href="@{'/editItem/'+${it.id}}" class="btn btn-info btn-sm">Редактировать</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="container d-flex justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/all-tasks/page/{pageNumber}(pageNumber=${currentPage - 1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                        <a class="page-link" th:href="@{/all-tasks/page/{pageNumber}(pageNumber=${pageNumber})}"
                           th:text="${pageNumber}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/all-tasks/page/{pageNumber}(pageNumber=${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
<!--<script>-->
<!--    var nameInput = document.querySelector('input[name="name"]');-->
<!--    nameInput.value = '<script>alert("XSS")'</script>';-->
<!--</script>-->
</html>
