<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
     class="navbar navbar-expand-lg bg-dark bg-body-tertiary navbar-dark ">
    <div class="container-fluid d-flex justify-content-center mr-0 bg-dark  ">
        <div class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between" style="width: 1200px"
             id="navbarSupportedContent">
            <div>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{'/'}">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/all-tasks'}"
                       sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">Все задании</a>
                </div>
                <div class="nav-item " sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/addItem'}"
                       sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">Создать задания</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/profile'}">Профиль</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/my-tasks'}" sec:authorize="hasAnyRole('ROLE_USER','ROLE_MAIN_USER')">Мои Задачи</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/all-users'}" sec:authorize="hasRole('ROLE_ADMIN')">Пользователи</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/all-messages'}" sec:authorize="hasRole('ROLE_ADMIN')">Сообщения</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/client-page'}" sec:authorize="hasRole('ROLE_CLIENT')">Создать
                        задачу</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/moderator-page'}" sec:authorize="hasRole('ROLE_MODERATOR')">Задачи
                        от клиентов</a>
                </div>
                <div class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/login'}">Войти</a>
                </div>
                <div class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/register'}">Регистрация</a>
                </div>
                <div class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/login/forgot-password'}">Забыли пароль</a>
                </div>

            </div>
            <div class="nav-item mr-0" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="JavaScript:void(0)"
                   onclick="document.getElementById('logoutFormId').submit()">Выйти</a>
                <form th:action="@{'/logout'}" method="post" id="logoutFormId" sec:authorize="isAuthenticated()">
                </form>
            </div>
        </div>
    </div>
</nav>