<!DOCTYPE html>
<html lang="en">
<div class="bg-dark" th:replace="header"></div>
<body class="bg-dark">
<div class="bg-dark w-100 " th:replace="menu"></div>
<div class="d-flex justify-content-center" style="max-width: 100%; height: 100vh; margin: 0 auto; ">
    <div style="width: 1200px; height: 100vh;">
        <table class="table table-striped bg-light mt-xl-5 w-100" style="border-radius: 7px">
            <form th:action="@{'/excel/message'}" method="post">
                <button type="submit" class="btn btn-primary">Загрузить в екзел файл</button>
            </form>
            <thead>
            <tr>
                <th>ID</th>
                <th>Сообщение</th>
                <th>Время отправки</th>
                <th>Отправитель</th>
                <th>Статус</th>
                <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="it:${message}">
                <input type="hidden" name="id" th:value="${it.id}">
                <td th:text="${it.id}"></td>
                <td th:text="${it.message}"></td>
                <td th:text="${it.sendMessageTime}"></td>
                <td th:text="${it.username!=null?it.username.firstName+' '+it.username.lastName:' '}"></td>
                <td th:text="${it.statusCheck==true?'Проверено':'Не проверена'}"></td>
                <td>
                    <a th:href="@{'/editMessage/'+${it.id}}" class="btn btn-info btn-sm">Изменить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{'/all-messages/page/' + ${currentPage - 1}}">Previous</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:href="@{'/all-messages/page/' + ${pageNumber}}">[[${pageNumber}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{'/all-messages/page/' + ${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>