<!DOCTYPE html>
<html lang="en">
<div th:replace="header">
</div>
<body>
<div class="container bg-dark">
    <div th:replace="menu"></div>
</div>
<table class="table table-striped bg-light mt-xl-5 w-100" style="border-radius: 7px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Дата отправки</th>
        <th>Клиент</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="it:${emp}">
        <td th:text="${it.id}"></td>
        <td th:text="${it.nameTask}"></td>
        <td th:text="${it.description}"></td>
        <td th:text="${it.createTime}"></td>
        <td th:text="${it.appUser.firstName}"></td>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>