<!DOCTYPE html>
<html lang="en">
<div class="bg-dark" th:replace="header"></div>
<body class="bg-dark">
<div class="bg-dark w-100 " th:replace="menu"></div>
<div class="d-flex justify-content-center" style="max-width: 100%; height: 100vh; margin: 0 auto; ">
    <div style="width: 1200px; height: 100vh;">
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped bg-light mt-xl-5 w-100" style="border-radius: 7px">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Дедлайн</th>
                    <th>Описание</th>
                    <th>Приоритет</th>
                    <th>Статус</th>
                    <th>Сохранить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="it:${it}">
                    <form method="post" th:action="@{'/change-status'}">
                        <input type="hidden" name="id" th:value="${it.id}">
                        <td th:text="${it.id}"></td>
                        <td th:text="${it.taskName}"></td>
                        <td th:text="${it.taskDeadline}"></td>
                        <td th:text="${it.taskDescription}"></td>
                        <td th:text="${it.taskPriorities!=null?it.taskPriorities.priorityName:' '}"></td>
                        <td>
                            <select class="form-control" name="status" style="width: auto">
                                <option th:each="st:${status}" th:text="${st.statusName}" th:value="${st.id}"
                                        th:selected="${it!=null&&it.taskStatuses!=null&&it.taskStatuses.id==st.id}"></option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Изменить</button>
                            </a>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    </div>
</div>
</body>
</html>