<!DOCTYPE html>
<div th:replace="header">
</div>
<body>
<div class="bg-dark">
    <div class="bg-dark">
        <div th:replace="menu"></div>
    </div>
    <div style="max-width: 1100px; height: 100vh; margin: 0 auto; ">
        <div class="d-flex justify-content-center">
            <h3 class="card-title mt-4" style="color: white">Профиль</h3>
        </div>
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" style="color: white">Почта</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" readonly="readonly"
                               th:value="${currentUser.email}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" style="color: white">Логин</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" class="form-control" readonly="readonly"
                               th:value="${currentUser.username}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" style="color: white">Имя</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" readonly="readonly"
                               th:value="${currentUser.firstName}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" style="color: white">Фамилия</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" readonly="readonly"
                               th:value="${currentUser.lastName}">
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4 pt-2 column-gap-3">
                    <a th:href="@{'/change-profile-page'}">
                        <button class="btn btn-success mr-3 float-right">Изменить Профиль</button>
                    </a>
                    <a th:href="@{'/change-password'}">
                        <button class="btn btn-success float-right">Изменить Пароль</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>